.content .padding-left {
	padding:0 0 0 50px;
}

.small-text {
	font-size: 10px; 
	color: #999;
}

.small-text a {
	color: #222;
	font-weight: normal;
	text-decoration: none;
}

.small-text a:hover {
	text-decoration: underline;
}

ul#sliding-navigation, ul#server-stats
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#sliding-navigation li.sliding-element {
	border-bottom: 1px solid #999;
}

ul#sliding-navigation li.sliding-element a
{
	display: block;
	padding: 3px 18px;
	margin: 0;
}

ul#sliding-navigation li.sliding-element a
{
	color: #666;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover {
	color: #333;
}

ul#server-stats li {
	display: block;
	padding: 0px 0px 5px 0px;
	margin: 0 0 20px;
}